<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Thymeleaf 기본 구문</h1>
<h2>변수선언</h2>
<div th:with="num1=${10}, num2=${20}, num3=30">
    <h3 th:text="${num1+num2+num3}"></h3>
    <h3 th:text="${num1}+${num2}+${num3}"></h3>
    <h3>[[${num1+num2+num3}]]</h3>
    <h3>[[${num1}+${num2}+${num3}]]</h3>
</div>
<!--<div>-->
<!--    <h2 th:text="${num1+num2+num3}"></h2>-->
<!--    <h2>[[${num1+num2+num3}]]</h2>-->
<!--</div>-->


</body>
</html>